* {
    border: 1px solid red;
}

/* whole body using the google font Outfit */

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: hsl(212, 45%, 89%);
    /* makes the whole body centred, each section centred */
    display: flex;
    flex-direction: column;
    /* individual items centre on main axis */
    align-items: center;
    /* space each item evenly in a column */
    justify-content: space-evenly;
    /* body filling up the viewport */
    /* making everything within the body to be 100% of the viewport height */
    min-height: 100vh;
    /* position: relative; */
}

/* card */
.container {
    display: flex;
    flex-direction: column;
    /* individual items in the card centre on main axis */
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    width: 17%;
    /* size of element
    width: 50%;
    max-width: 600px;
    height: 300px;
    moving the position based on the parent size
    position: absolute;
    top: 50%;
    left: 50%;
    moving the element based on the element size (half the width of the container, half height of container)
    transform: translate(-50%, -50%);*/
}

/* qr image */
img {
    border-radius: 2%;
    max-width: 100%;
    /* left:50%;
    top:50%; */
}

body h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

body p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
}


/* attribution */
.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}